.number_trades{
  width: 85%; 
  color: #455A64;
  font-style: Poppins;       
}

.contact_inner{
  color: #455A64;

}

.full.dis_flex.center_text {
  display: flex;
  align-items: center;
  justify-content: flex-start;
}

.profile_img img {
  max-width: 180px;
  height: auto;
}
